@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

:root {
  --color-pink-button: #FF2F64;
  --color-present-pink: #FF7799;
  --color-pink: #FEAFC3;
  --color-gray: #2D3440;
  --color-light-gray: #565C66;
  --color-white: #FCFCFC;
  --background-color-white: rgba(252, 252, 252, 0.3);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--color-pink);
  color: var(--color-gray);
  /* display: flex;
  flex-direction: column; */
}


/* HEADER */

.page-header {
  /* margin: 0 auto; */
  /* width: 1170px; */
}

.page-head {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  margin-right: 186px;
}

.navigation-list {
  padding: 0;
  margin: 24px 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.right-navigation {
  width: 431px;
  display: flex;
  justify-content: space-between;
}

.right-navigation a {
  display: block;
  align-self: center;
  min-width: 32px;
  min-height: 32px;
}

.number {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.page-navigation {
  font-size: 16px;
  line-height: 20px;
  width: 553px;
}

.navigation-item {
  align-self: center;
}

.navigation-link-logo {
  display: block;
  padding: 0 16px 0 0;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 8px 16px;
}

.search {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

.entry {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}


.basket {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

/* MAIN PAGE */

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.header-choice-icecream {
  margin-bottom: 80px;
}

/* СЛАЙДЫ */
.right-select {
  display: flex;
  align-items: center;
}

.title-ice-cream {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 24px 0;
}

.header-select-list {
  list-style-type: none;
  width: 470px;
  padding: 0;
}

.description-ice-cream {
  font-size: 18px;
  line-height: 24px;
  width: 414px;
  margin: 0 0 48px 0;
}

.left-select {
  margin-left: 70px;
  margin-top: 136px;
}

.header-select-first {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.header-select-second {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.header-select-third {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.order {
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 26px;
  background: var(--color-white);
  padding: 12px 32px;
}

.footer-anchors {
  display: flex;
  justify-content: space-between;
}

.select-anchors {
  display: flex;
  list-style-type: none;
}

.social-network {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 356px;
}


/* ПОДАРКИ */
.present {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.present-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.information-delivery {
  width: 434px;
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0 auto 55px auto;
}

.information-choice {
  width: 527px;
  display: block;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 80px auto 56px auto;
}

.present-first, .present-second {
  width: 570px;
  min-height: 268px;
  background-color: var(--color-present-pink);
  border-radius: 16px;
  padding: 36px 0 0 36px;
}


.present-first {
  background-image: url("../images/present-raspberry.png");
  background-repeat: no-repeat;
  margin-right: 30px;
  background-position: 100% 100%;
}

.present-berry, .present-marschmellow{
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding: 0;
}

.present-second {
  background-image: url("../images/present-marshmallow.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.take-present {
  display: block;
  width: 112px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  background: var(--color-white);
  padding: 12px 32px;
  border-radius: 26px;
  margin-top: 28px;
}

.info-present {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-gray);
  margin: 28px 0 0 0;
  width: 371px;
}

/* ВЫБОР МОРОЖЕНОГО */

.types-ice-cream-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 80px 0;
  padding: 0;
}

.types-ice-cream-item {
  width: 270px;
  min-height: 332px;
  list-style-type: none;
}

.name-ice-cream {
  font-weight: 700;
  font-size: 20px;
}

.name-information {
  font-size: 16px;
  line-height: 22px;
  color: var(--color-light-gray);
}

.price{
  font-weight: 700;
  font-size: 20px;
}

/* ПРЕИМУЩЕСТВА */

.information-advantages {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 56px 0;
}

.background-white {
  margin: 24px;
  background-color: var(--color-white);
  display: block;
  border-radius: 16px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 1042px;
}

.advantages {
  background-image: url("../images/waffle.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin-bottom: 80px;
  align-items: center;
  display: flex;
}

.advantages-item{
  font-size: 16px;
  line-height: 22px;
  color: var(--color-light-gray);
  width: 442px;
}

/* СЕРВИРОВКА */
.ways-10 {
  background-image: url("../images/serving.png");
  background-repeat: no-repeat;
  width: 570px;
  min-height: 224px;
  padding-left: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 100%;
}

.serving {
  width: 303px;
}

.new-blog {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light-gray);
  margin-top: 32px;
  margin-bottom: 12px;
}

/* ДОСТАВКА */
.delivery {
  background-image: url("../images/delivery3.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 534px;
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}

.delivery-submit {
  background: var(--color-pink-button);
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  margin-left: 174px;
  cursor: pointer;
}

.delivery-form-info {
  font-size: 16px;
  line-height: 22px;
}


.delivery-form {
  background-color: var(--color-white);
  padding: 40px;
  width: 500px;
  min-height: 406px;
  box-sizing: border-box;
  margin-left: 135px;
  align-self: center;
  border-radius: 8px;
}

.base-form{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* РАССЫЛКА */

.ways-and-mailing {
  display: flex;
  justify-content: space-between;
}

.mailing {
  background-image: url('../images/postal-background.png');
  width: 570px;
  border-radius: 16px;
  min-height: 224px;
}

.info-mailing{
  font-size: 16px;
  line-height: 22px;
  color: var(--color-light-gray);
  margin: 32px 32px 42px 32px;
}

.mailing-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: 14px;
}

.email-input {
  width: 332px;
  padding: 0;
}

.footer-mailing {
  margin-left: 32px;
}


/* АДРЕС МАГАЗИНА И ОБРАТНАЯ СВЯЗЬ */

.map-address {
  background-image: url("../images/feedback.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 492px;
}

.address-info {
  background-color: var(--color-white);
  width: 343px;
  min-height: 364px;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: 64px;
}

.time-address {
  font-size: 14px;
  line-height: 20px;
}

.feedback {
  display: block;
  width: 250px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  background-color: var(--color-pink-button);
  margin: 32px 0 0 0;
  text-align: center;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.delivery-info {
  margin-left: 100px;
  margin-top: 167px;
}

.information {
  width: 356px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
}

.addres-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 179px;
  margin: 0;
  color: var(--color-light-gray);
}

.city {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-gray);
  margin: 12px 0 0 0;
  width: 263px;
}

.orders-telephone {
  width: 203px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 24px 0 0 0;
  color: var(--color-light-gray);
}

.time-address {
  margin: 0;
  width: 160px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-light-gray);
}

/* FOOTER */

.page-footer-container {
  width: 1170px;
  margin: 0 auto;
}

.anchors-footer {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-list {
  list-style-type: none;
}

.footer-navigation-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.footer-navigation-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-htmlacademy {
  text-decoration: none;
}

/* CATALOG */

.breadcrumbs-link {
  text-decoration: underline;
}

.select {
  background-color: var(--background-color-white);
}

.price-for-ice {
  background-color: var(--background-color-white);
}

.fat {
  background-color: var(--background-color-white);
}

.content-fillers {
  background-color: var(--background-color-white);
}

.submit-filter {
  background-color: var(--background-color-white);
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
}

.space-first {
  width: 168px;
}

.space-third {
  width: 168px;
  display: flex;

}

/* ОБЩИЕ СТИЛИ */

.none-dec {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
